section#musicsTableSection {
    text-align: center;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 4px 4px 10px black;
    padding: 20px;
}

section#musicsTableSection > h1 {
    font-size: 3vw;
}

section#musicsTableSection > hr {
    border: none;
    border-bottom: 4px dotted black;
    margin: 40px 0px;
}

section#musicsTableSection > table {
    margin: auto;
    width: 90%;
}

section#musicsTableSection > table > thead > tr > th {
    font-size: 1.5vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

section#musicsTableSection > table > tbody > tr > th, td {
    font-size: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    section#musicsTableSection > h1 {
        font-size: 4vw;
    }

    section#musicsTableSection > table > thead > tr > th {
        font-size: 3vw;
    }
    
    section#musicsTableSection > table > tbody > tr > th, td {
        font-size: 2vw;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    section#musicsTableSection > h1 {
        font-size: 6vw;
    }

    section#musicsTableSection > table > thead > tr > th {
        font-size: 3vw;
    }
    
    section#musicsTableSection > table > tbody > tr > th, td {
        font-size: 2.5vw;
    }
}

@media (max-width: 480px) {
    section#musicsTableSection {
        padding: 0px;
        border-radius: 10px;
    }
    
    section#musicsTableSection > hr {
        margin: 20px 0px;
    }

    section#musicsTableSection > h1 {
        font-size: 10vw;
    }

    section#musicsTableSection > table > thead > tr > th {
        font-size: 3vw;
    }
    
    section#musicsTableSection > table > tbody > tr > th, td {
        font-size: 3vw;
    }
}