<section id="musicsTableSection">
    <h1>Listador de músicas!</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Álbum</th>
                <th>Duração</th>
                <th>Artista/Banda</th>
                <th>Gênero</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let music of musics">
                <th>{{music.title}}</th>
                <td>{{music.album}}</td>
                <td>{{music.duration}}</td>
                <td>{{music.artistOrBand}}</td>
                <td>{{music.genre}}</td>
                <td><app-button-delete (click)="delete(music)"></app-button-delete></td>
            </tr>
        </tbody>
    </table>
</section>