<section id="musicsTableSection">
    <h1>Listador de músicas!</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Álbum</th>
                <th>Duração</th>
                <th>Artista/Banda</th>
                <th>Gênero</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Costa Gold - N.A.D.A.B.O.M pt. 2</th>
                <td>155</td>
                <td>4:15</td>
                <td>Costa Gold - feat: Luccas Carlos e Don L</td>
                <td>Rap</td>
            </tr>
            <tr>
                <th>SAMEHADA</th>
                <td>Samehada - Single</td>
                <td>3:13</td>
                <td>7 Minutoz - Gabriel Rodrigues e Lucas A.R.T. [Prod. tunnA Beatz]</td>
                <td>Rap Geek</td>
            </tr>
        </tbody>
    </table>
</section>